.detail{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 60px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 150%;
    background-color: rgb(248, 227, 159,0.8);
    
}
.detail img{
    max-width: 400px;
    width: 100%;
    margin: 10px;
    height: 300px;
    object-fit: cover;
    display: block;
}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
    padding: 10px;
}
.box-detail .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-detail h2{
    text-transform: uppercase;
    color: rgb(119, 83, 17);
    letter-spacing: 2px;
    font-weight: 2rem;
}
.box-detail  span{
    color:rgb(194, 65, 47);
}
.box-detail p{
    line-height: 1.5;
    margin: 20px 0;
    opacity: 0.9;
}
.box-detail .cart{
    background: rgb(150, 126, 83);
    color: white;
    margin-top: 60px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: none;
    letter-spacing: 2px;
    margin-left: 200px;
    border-radius: 12px;
    border: none;
}
.box-detail .cart:hover{
   background-color: rgb(134, 122, 8);
}

.autres{
    color:darkorange;
    padding: 40px;
}
.autres .titre{
    font-size: 32px;
    background-color: rgb(58, 95, 95);
    margin-left: 12px;
    padding: 5px 20px;
    padding-left: 15px ;
}